<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <div>
        <a href="">Home</a> | <a href="">Projects</a> | <a href="">Contacts</a>
    </div>
    <div>
        <h1>Here are some Projects of mine!</h1>
    </div>
    <div>
        <select multiple class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
    </div>
</body>
</html>