<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @model LangSurvey
    <h1>Dojo Survey</h1>
    <hr>
    <fieldset>
        <form asp-action="/survey" asp-controller="Home" method="post">
            <span asp-validation-for="FullName"></span>
            <label asp-for="FullName"></label><br>
            <input asp-for="FullName"><br>
            <span asp-validation-for="DojoLocation"></span>
            <label asp-for="DojoLocation"></label><br>
            <input asp-for="DojoLocation"><br>
            <span asp-validation-for="Language"></span>
            <label asp-for="Language"></label><br>
            <select asp-for="Language"><br>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="Java Script">JavaScript</option>
                <option value="Ruby">Ruby</option>
                <option value="HTML">HTML</option>
                <option value="F#">F#</option>
            </select><br>
            <span asp-validation-for="Comment"></span>
            <label asp-for="Comment">Comment:</label><br>
            <textarea asp-for="Comment" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Submit">
            
        </form>
    </fieldset>
    
</body>
</html>