<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/index.css">
    
    <title>Quote Home Page</title>
</head>
<body>
    <div class="header">
        <h2>Welcome to Dojo Quotes</h2>
        <a href="DashBoard"><button>Go To Quotes</button></a>
        <hr>
    </div>
    
    @model Quote
    <div class="form">
        <form asp-action="Create" asp-controller="Home" method="post">
            <div class="form-group">
                <span asp-validation-for="Name"></span><br>
                <label asp-for="Name"></label><br>
                <input asp-for="Name">
            </div>
            <div class="form-group">
                <span asp-validation-for="quote"></span><br>
                <label asp-for="quote"></label><br>
                <textarea asp-for="quote" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" class="submit" value="Submit Quote">
        </form>
        
    </div>
        
</body>
</html>