<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/quote.css">
    <title>Dojo Quotes</title>
</head>
<body>
    @model Quote
    <div class="header">
        <h1>Dojo Quotes</h1>
        <a href="/"><button>Home</button></a>
        <hr>
    </div>
    
    <div class="quotes">
        @foreach(var post in ViewBag.posted)
        {
            <p>'@post["quote"]'</p>
            <p>@post["name"], @post["created_at"]</p>
            <hr>
        }
    </div>
    
</body>
</html>