@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Welcome To Trail Heads</h1>
        <p>Here are some interesting trails to hike</p>
        <a href="" class="btn btn-primary">Add a Trail</a>
    </div>
</div>