<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
@model string[]

<h1>Here is some user:</h1>
@foreach(var person in Model)
{
    <p>@person</p>
}

<h2>This is one person</h2>

<p>@Model[2]</p>

</body>
</html>